{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.victorops.com/"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "VictorOps"
        },
        "description": "This API allows you to interact with the VictorOps platform in various ways. Your account may be limited\nto a total number of API calls per month. Also, some of these API calls have rate limits.\n\nNOTE: In this documentation when creating a sample curl request (clicking the TRY IT OUT! button), in some API\nviewing interfaces, the '@' in an email address may be encoded. Please note that the REST endpoints will not\nprocess the encoded version. Make sure that the encoded character '%40' is changed to its unencoded form before\nsubmitting the curl request.\n",
        "title": "VictorOps",
        "version": "0.0.3",
        "x-apisguru-categories": [
            "developer_tools"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_VictorOps_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://portal.victorops.com/public/api-docs/victorops-api-v1.yaml",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "victorops.com"
    },
    "tags": [
        {
            "name": "On-call"
        },
        {
            "name": "Incidents"
        },
        {
            "name": "Alerts"
        },
        {
            "name": "Reporting"
        },
        {
            "name": "Users"
        },
        {
            "name": "User Contact Methods"
        },
        {
            "name": "User Paging Policies"
        },
        {
            "name": "Personal Paging Policy Values"
        },
        {
            "name": "Personal Paging Policies"
        },
        {
            "name": "Teams"
        },
        {
            "name": "Escalation Policies"
        },
        {
            "name": "Routing Keys"
        },
        {
            "name": "Scheduled Overrides"
        }
    ],
    "paths": {
        "/api-public/v1/alerts/{uuid}": {
            "get": {
                "description": "Retrieve the details of an alert that was sent VictorOps by you.\n\nThis API may be called a maximum of 6 times per minute.\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The VictorOps uuid of the alert",
                        "in": "path",
                        "name": "uuid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The alert, if found.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Alert details. All fields should be considered optional.",
                                    "properties": {
                                        "ackAuthor": {
                                            "description": "The user that acknowledged the incident.",
                                            "type": "string"
                                        },
                                        "ackMsg": {
                                            "description": "A user entered comment for the acknowledgment.",
                                            "type": "string"
                                        },
                                        "entityDisplayName": {
                                            "description": "Used within VictorOps to display a human-readable name for the entity.",
                                            "type": "string"
                                        },
                                        "entityId": {
                                            "description": "Identifies the entity (host, service, etc.) this alert was about.\n",
                                            "type": "string"
                                        },
                                        "messageType": {
                                            "description": "The type of alert; INFO, WARNING, ACKNOWLEDGEMENT, CRITICAL, RECOVERY\n",
                                            "type": "string"
                                        },
                                        "monitoringTool": {
                                            "description": "The name of the monitoring system software (eg. nagios, icinga, sensu, etc.)",
                                            "type": "string"
                                        },
                                        "raw": {
                                            "description": "The full, raw alert details JSON string (i.e. parse the string into a JSON object)\n",
                                            "type": "string"
                                        },
                                        "stateMessage": {
                                            "description": "Any additional status information from the alert item.",
                                            "type": "string"
                                        },
                                        "stateStartTime": {
                                            "description": "The time this entity entered its current state (seconds since epoch).",
                                            "type": "number"
                                        },
                                        "timestamp": {
                                            "description": "Timestamp of the alert in seconds since epoch.",
                                            "type": "number"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Retrieve alert details.",
                "tags": [
                    "Alerts"
                ]
            }
        },
        "/api-public/v1/incidents": {
            "get": {
                "description": "Get a list of the currently open, acknowledged and recently resolved incidents.\nThis API may be called a maximum of 6 times per minute.\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The set of incidents.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The list of incidents in various states",
                                    "properties": {
                                        "incidents": {
                                            "description": "The incident data",
                                            "items": {
                                                "description": "Incidents contain the following fields (all should be considered optional)",
                                                "properties": {
                                                    "alertCount": {
                                                        "description": "The number of alerts received for this incident",
                                                        "type": "number"
                                                    },
                                                    "currentPhase": {
                                                        "description": "The current phase of the incident \"resolved\", \"triggered\" or \"acknowledged\".",
                                                        "type": "string"
                                                    },
                                                    "entityId": {
                                                        "description": "The unique identification of the entity being monitored that caused the incident",
                                                        "type": "string"
                                                    },
                                                    "host": {
                                                        "description": "The host on which the incident occurred",
                                                        "type": "string"
                                                    },
                                                    "incidentNumber": {
                                                        "description": "The VictorOps incident number",
                                                        "type": "string"
                                                    },
                                                    "lastAlertId": {
                                                        "description": "The unique id of the last alert for the incident",
                                                        "type": "string"
                                                    },
                                                    "lastAlertTime": {
                                                        "description": "The time of the last alert received for the incident",
                                                        "type": "string"
                                                    },
                                                    "pagedPolicies": {
                                                        "description": "The escalation policies that were triggered for the incident",
                                                        "items": {
                                                            "properties": {
                                                                "policy": {
                                                                    "properties": {
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "slug": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "team": {
                                                                    "properties": {
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "slug": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "required": [
                                                                "policy"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "pagedTeams": {
                                                        "description": "The teams that were paged for the incident",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "pagedUsers": {
                                                        "description": "The users that were paged for the incident.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "service": {
                                                        "description": "The service name causing the incident (if any)",
                                                        "type": "string"
                                                    },
                                                    "startTime": {
                                                        "description": "The time the incident started",
                                                        "type": "string"
                                                    },
                                                    "transitions": {
                                                        "description": "Transitions of the incident state over time",
                                                        "items": {
                                                            "description": "A transition of incident state",
                                                            "properties": {
                                                                "alertId": {
                                                                    "description": "The unique alert ID that caused the transition",
                                                                    "type": "string"
                                                                },
                                                                "alertUrl": {
                                                                    "description": "A URL to retrieve the details of the alert that caused the transition",
                                                                    "type": "string"
                                                                },
                                                                "at": {
                                                                    "description": "The time of the transition",
                                                                    "type": "string"
                                                                },
                                                                "by": {
                                                                    "description": "The user that caused the transition (if any)",
                                                                    "type": "string"
                                                                },
                                                                "manually": {
                                                                    "description": "If the incident transition was caused by a person",
                                                                    "type": "boolean"
                                                                },
                                                                "message": {
                                                                    "description": "The message entered by that user (if any)",
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "description": "The transition name",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "Path not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get current incident information",
                "tags": [
                    "Incidents"
                ]
            },
            "post": {
                "description": "Create a new incident.\n\nThis call replicates the function of our\n<a href=\"https://help.victorops.com/knowledge-base/manual-incident-creation/\">manual incident creation process</a>.\nMonitoring tools and custom integrations\nshould be configured using our\n<a href=\"https://help.victorops.com/knowledge-base/victorops-restendpoint-integration/\">REST Endpoint</a>.\n\nThis API may be called a maximum of 6 times per minute.\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Information about the incident created\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "description": "An error message",
                                            "type": "string"
                                        },
                                        "incidentNumber": {
                                            "description": "The VictorOps incident number",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "Path not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Create a new incident",
                "tags": [
                    "Incidents"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "details": {
                                        "type": "string"
                                    },
                                    "summary": {
                                        "type": "string"
                                    },
                                    "targets": {
                                        "items": {
                                            "properties": {
                                                "slug": {
                                                    "description": "User name or escalation policy slug",
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Type of target",
                                                    "enum": [
                                                        "User",
                                                        "EscalationPolicy"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "type",
                                                "slug"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "userName": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "summary",
                                    "details",
                                    "userName",
                                    "targets"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "The incident details",
                    "required": true
                }
            }
        },
        "/api-public/v1/incidents/ack": {
            "patch": {
                "description": "The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.\n\nThis API may be called a maximum of 6 times per minute.\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of each acknowledge incident action.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The results of ack/resolve for each incident",
                                    "properties": {
                                        "results": {
                                            "items": {
                                                "description": "The results of ack/resolve for a individual incident",
                                                "properties": {
                                                    "cmdAccepted": {
                                                        "type": "boolean"
                                                    },
                                                    "entityId": {
                                                        "type": "string"
                                                    },
                                                    "incidentNumber": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Acknowledge an incident or list of incidents",
                "tags": [
                    "Incidents"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "incidentNames": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "userName": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "userName",
                                    "incidentNames"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Ack/Resolve payload",
                    "required": true
                }
            }
        },
        "/api-public/v1/incidents/byUser/ack": {
            "patch": {
                "description": "The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.\n\nThis API may be called a maximum of 6 times per minute.\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of each acknowledge incident action.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The results of ack/resolve for each incident",
                                    "properties": {
                                        "results": {
                                            "items": {
                                                "description": "The results of ack/resolve for a individual incident",
                                                "properties": {
                                                    "cmdAccepted": {
                                                        "type": "boolean"
                                                    },
                                                    "entityId": {
                                                        "type": "string"
                                                    },
                                                    "incidentNumber": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Acknowledge all incidents for which a user was paged.",
                "tags": [
                    "Incidents"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "message": {
                                        "type": "string"
                                    },
                                    "userName": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "userName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Ack/Resolve payload",
                    "required": true
                }
            }
        },
        "/api-public/v1/incidents/byUser/resolve": {
            "patch": {
                "description": "The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.\n\nThis API may be called a maximum of 6 times per minute.\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of each resolve incident action.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The results of ack/resolve for each incident",
                                    "properties": {
                                        "results": {
                                            "items": {
                                                "description": "The results of ack/resolve for a individual incident",
                                                "properties": {
                                                    "cmdAccepted": {
                                                        "type": "boolean"
                                                    },
                                                    "entityId": {
                                                        "type": "string"
                                                    },
                                                    "incidentNumber": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Resolve all incidents for which a user was paged.",
                "tags": [
                    "Incidents"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "message": {
                                        "type": "string"
                                    },
                                    "userName": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "userName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Ack/Resolve payload",
                    "required": true
                }
            }
        },
        "/api-public/v1/incidents/reroute": {
            "post": {
                "description": "Reroute one or more incidents to one or more users and/or escalation policies\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The created reroute object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "statuses": {
                                            "items": {
                                                "properties": {
                                                    "incidentNumber": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "success": {
                                                        "type": "boolean"
                                                    },
                                                    "targetStatus": {
                                                        "items": {
                                                            "properties": {
                                                                "message": {
                                                                    "type": "string"
                                                                },
                                                                "slug": {
                                                                    "description": "User name or escalation policy slug",
                                                                    "type": "string"
                                                                },
                                                                "success": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "required": [
                                                                "slug",
                                                                "success"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "required": [
                                                    "incidentNumber",
                                                    "success",
                                                    "targetStatus"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Reroute one or more incidents to one or more new routable destinations.",
                "tags": [
                    "Incidents"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reroutes": {
                                        "items": {
                                            "properties": {
                                                "incidentNumber": {
                                                    "type": "string"
                                                },
                                                "targets": {
                                                    "items": {
                                                        "properties": {
                                                            "slug": {
                                                                "description": "User name or escalation policy slug",
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "Type of target",
                                                                "enum": [
                                                                    "User",
                                                                    "EscalationPolicy"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "type",
                                                            "slug"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "required": [
                                                "incidentNumber",
                                                "targets"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "userName": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "userName",
                                    "reroutes"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "The reroute rules",
                    "required": true
                }
            }
        },
        "/api-public/v1/incidents/resolve": {
            "patch": {
                "description": "The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.\n\nThis API may be called a maximum of 6 times per minute.\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of each resolve incident action.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The results of ack/resolve for each incident",
                                    "properties": {
                                        "results": {
                                            "items": {
                                                "description": "The results of ack/resolve for a individual incident",
                                                "properties": {
                                                    "cmdAccepted": {
                                                        "type": "boolean"
                                                    },
                                                    "entityId": {
                                                        "type": "string"
                                                    },
                                                    "incidentNumber": {
                                                        "type": "string"
                                                    },
                                                    "message": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Resolve an incident or list of incidents",
                "tags": [
                    "Incidents"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "incidentNames": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "message": {
                                        "type": "string"
                                    },
                                    "userName": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "userName",
                                    "incidentNames"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Ack/Resolve payload",
                    "required": true
                }
            }
        },
        "/api-public/v1/oncall/current": {
            "get": {
                "description": "Get all on-call uesrs/teams for your organization.\n\nThis API may be called a maximum of 1 times per minute.\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "All users and escalation policies currently on call",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "teamsOnCall": {
                                            "items": {
                                                "properties": {
                                                    "onCallNow": {
                                                        "items": {
                                                            "properties": {
                                                                "escalationPolicy": {
                                                                    "properties": {
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "slug": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "users": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "onCallUser": {
                                                                                "properties": {
                                                                                    "username": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "team": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "slug": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get an organization's on-call users",
                "tags": [
                    "On-call"
                ]
            }
        },
        "/api-public/v1/org/routing-keys": {
            "get": {
                "description": "Retrieves a list of routing keys and associated teams.\nThis API may be called a maximum of once a minute.",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of routing keys and associated teams",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Info about routing keys in the org",
                                    "properties": {
                                        "_selfUrl": {
                                            "type": "string"
                                        },
                                        "routingKeys": {
                                            "items": {
                                                "description": "Routing keys contain the following fields",
                                                "properties": {
                                                    "isDefault": {
                                                        "type": "boolean"
                                                    },
                                                    "routingKey": {
                                                        "type": "string"
                                                    },
                                                    "targets": {
                                                        "items": {
                                                            "description": "Routing key target",
                                                            "properties": {
                                                                "_teamUrl": {
                                                                    "type": "string"
                                                                },
                                                                "policyName": {
                                                                    "type": "string"
                                                                },
                                                                "policySlug": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "Path not found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "List routing keys with associated teams",
                "tags": [
                    "Routing Keys"
                ]
            }
        },
        "/api-public/v1/overrides": {
            "get": {
                "description": "List all the scheduled overrides on the organization\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of scheduled overrides for your organization",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_selfUrl": {
                                            "type": "string"
                                        },
                                        "overrides": {
                                            "items": {
                                                "properties": {
                                                    "assignments": {
                                                        "items": {
                                                            "properties": {
                                                                "_selfUrl": {
                                                                    "type": "string"
                                                                },
                                                                "assigned": {
                                                                    "type": "boolean"
                                                                },
                                                                "policy": {
                                                                    "type": "string"
                                                                },
                                                                "team": {
                                                                    "type": "string"
                                                                },
                                                                "user": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "end": {
                                                        "description": "The override end time (ISO 8601)",
                                                        "type": "string"
                                                    },
                                                    "publicId": {
                                                        "type": "string"
                                                    },
                                                    "start": {
                                                        "description": "The override start time (ISO 8601).",
                                                        "type": "string"
                                                    },
                                                    "timezone": {
                                                        "type": "string"
                                                    },
                                                    "user": {
                                                        "properties": {
                                                            "firstName": {
                                                                "type": "string"
                                                            },
                                                            "lastName": {
                                                                "type": "string"
                                                            },
                                                            "username": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "Path not found"
                    },
                    "422": {
                        "description": "You have reached your user limit.\n"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "List the scheduled overrides",
                "tags": [
                    "Scheduled Overrides"
                ]
            },
            "post": {
                "description": "Creates a new scheduled override. Start and end dates are in ISO8601 format. E.g. `2018-09-28'T'05:00:00Z`\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The created scheduled override",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_selfUrl": {
                                            "type": "string"
                                        },
                                        "schedule": {
                                            "properties": {
                                                "assignments": {
                                                    "items": {
                                                        "properties": {
                                                            "_selfUrl": {
                                                                "type": "string"
                                                            },
                                                            "assigned": {
                                                                "type": "boolean"
                                                            },
                                                            "policy": {
                                                                "type": "string"
                                                            },
                                                            "team": {
                                                                "type": "string"
                                                            },
                                                            "user": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "end": {
                                                    "description": "The override end time (ISO 8601)",
                                                    "type": "string"
                                                },
                                                "publicId": {
                                                    "type": "string"
                                                },
                                                "start": {
                                                    "description": "The override start time (ISO 8601).",
                                                    "type": "string"
                                                },
                                                "timezone": {
                                                    "type": "string"
                                                },
                                                "user": {
                                                    "properties": {
                                                        "firstName": {
                                                            "type": "string"
                                                        },
                                                        "lastName": {
                                                            "type": "string"
                                                        },
                                                        "username": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "Path not found"
                    },
                    "422": {
                        "description": "You have reached your user limit.\n"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Creates a new scheduled override",
                "tags": [
                    "Scheduled Overrides"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "end": {
                                        "description": "The override end time (ISO 8601)",
                                        "type": "string"
                                    },
                                    "start": {
                                        "description": "The override start time (ISO 8601)",
                                        "type": "string"
                                    },
                                    "timezone": {
                                        "type": "string"
                                    },
                                    "username": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/api-public/v1/overrides/{publicId}": {
            "delete": {
                "description": "Deletes a scheduled override\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The publicId of the scheduled override",
                        "in": "path",
                        "name": "publicId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Whether or not the delete was successful"
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "Path not found"
                    },
                    "422": {
                        "description": "You have reached your user limit.\n"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Deletes a scheduled override",
                "tags": [
                    "Scheduled Overrides"
                ]
            },
            "get": {
                "description": "Get the specified scheduled override\n\nThis API may be called a maximum of 15 times per minute.\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The publicId of the scheduled override",
                        "in": "path",
                        "name": "publicId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The scheduled override",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_selfUrl": {
                                            "type": "string"
                                        },
                                        "override": {
                                            "properties": {
                                                "assignments": {
                                                    "items": {
                                                        "properties": {
                                                            "_selfUrl": {
                                                                "type": "string"
                                                            },
                                                            "assigned": {
                                                                "type": "boolean"
                                                            },
                                                            "policy": {
                                                                "type": "string"
                                                            },
                                                            "team": {
                                                                "type": "string"
                                                            },
                                                            "user": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "end": {
                                                    "description": "The override end time (ISO 8601)",
                                                    "type": "string"
                                                },
                                                "publicId": {
                                                    "type": "string"
                                                },
                                                "start": {
                                                    "description": "The override start time (ISO 8601).",
                                                    "type": "string"
                                                },
                                                "timezone": {
                                                    "type": "string"
                                                },
                                                "user": {
                                                    "properties": {
                                                        "firstName": {
                                                            "type": "string"
                                                        },
                                                        "lastName": {
                                                            "type": "string"
                                                        },
                                                        "username": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "Path not found"
                    },
                    "422": {
                        "description": "You have reached your user limit.\n"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get the specified scheduled override",
                "tags": [
                    "Scheduled Overrides"
                ]
            }
        },
        "/api-public/v1/overrides/{publicId}/assignments": {
            "get": {
                "description": "Get the specified scheduled override assignments\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The publicId of the scheduled override",
                        "in": "path",
                        "name": "publicId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The assignments for a given scheduled override",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "_selfUrl": {
                                                "type": "string"
                                            },
                                            "assigned": {
                                                "type": "boolean"
                                            },
                                            "policy": {
                                                "type": "string"
                                            },
                                            "team": {
                                                "type": "string"
                                            },
                                            "user": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "Path not found"
                    },
                    "422": {
                        "description": "You have reached your user limit.\n"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get the specified scheduled override",
                "tags": [
                    "Scheduled Overrides"
                ]
            }
        },
        "/api-public/v1/overrides/{publicId}/assignments/{policySlug}": {
            "delete": {
                "description": "Delete the scheduled override assignment\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The publicId of the scheduled override",
                        "in": "path",
                        "name": "publicId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The policySlug of the assignment",
                        "in": "path",
                        "name": "policySlug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The assignment that was deleted for the given scheduled override and policySlug",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_selfUrl": {
                                            "type": "string"
                                        },
                                        "assigned": {
                                            "type": "boolean"
                                        },
                                        "policy": {
                                            "type": "string"
                                        },
                                        "team": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "Path not found"
                    },
                    "422": {
                        "description": "You have reached your user limit.\n"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Delete the scheduled override assignment",
                "tags": [
                    "Scheduled Overrides"
                ]
            },
            "get": {
                "description": "Get the specified scheduled override assignments\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
                        "name": "X-VO-Api-Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Your API Key",
                        "in": "header",
                        "name": "X-VO-Api-Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The publicId of the scheduled override",
                        "in": "path",
                        "name": "publicId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The policySlug of the assignment",
                        "in": "path",
                        "name": "policySlug",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The assignment for the given publicId",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_selfUrl": {
                                            "type": "string"
                                        },
                                        "assigned": {
                                            "type": "boolean"
                                        },
                                        "policy": {
                                            "type": "string"
                                        },
                                        "team": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Problem with the request arguments.  The response payload may include an error message."
                    },
                    "401": {
                        "description": "Authentication parameters missing"
                    },
                    "403": {
                        "description": "Authentication failed or rate-limit reached"
                    },
                    "404": {
                        "description": "Path not found"
                    },
                    "422": {
                        "description": "You have reached your user limit.\n"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Get the specified scheduled override assignment",
                "tags": [
                    "Scheduled Overrides"
                ]
            },
            "put": {
                "description": "Update the scheduled override assignment\n",
                "parameters": [
                    {
                        "description": "Your API ID",
                        "in": "header",
[...]
